@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(13, 19, 33);
}
.hide {
  display: none;
}

/* <!-- ==--==--==--=--==--== Banner Section Stat Here--==--==--==--==--==--== --> */
.menu-section {
  width: 80%;
  margin: 0 auto;
}
.menu-section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul li {
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
.btn-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 20px 30px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-section {
  max-width: 100%;
  background: url(../assets/Hero-bg.png);
  margin-top: 25px;
  padding-bottom: 70px;
}
.banner-container {
  width: 80%;
  margin: 0 auto;
}
.banner-title .image {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 32px;
}
.banner-title-text {
  text-align: center;
}

.banner-title h1 {
  color: rgb(13, 19, 33);
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.banner-description-text {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}
.banner-title button {
  border-radius: 8px;
  border: none;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 21px 24px 21px 24px;
}
.btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* <!-- ==--==--==--=--==--== Banner Section End Here--==--==--==--==--==--== --> */

/* <!---=--==--==--==--==--==- Web Development Start Here??-==--=---==--==- --> */
.Development-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
}

.Development-section-container {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.content {
  padding: 60px 95px;
  border-radius: 16px;
  margin: 0 auto;
}

.content h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-top: 24px;
  margin-bottom: 48px;
}
/* =-=-=-=-Box-container=-=-=-=-=-=- */

.box-container {
  width: 946px;
  height: 300px;
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: left;
  margin: 0 auto;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 32px;
  padding: 48px;
}
.second-box {
  width: 946px;
  height: 300px;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.box-text-content {
  width: 450px;
  height: 250px;
}
.box-text-content h2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.box-text-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 44px;
}
.btn-primary {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin-bottom: 48px;
}
.btn-primary a {
  list-style: none;
  text-decoration: none;
  color: rgb(13, 19, 33);
}

.box-img {
  width: 259.56px;
  height: 217.01px;
  margin: auto;
}

/* <!---=--==--==--==--==--==- Web Development End Here??-==--=---==--==- --> */

/* <!-- =-=-=-=-=-=-=-=-=-=-=-=-My Inspiration Start Here =-=-=-=-=-=-=-=-=-=-=-=- --> */

.Inspiration-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 88px;
}
.Inspiration-section-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.Inspiration-section-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 48px;
}

.video-container {
  width: 1140px;
  height: 614px;
}
.video {
  border-radius: 16px;
  padding: 48px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.video-border {
  border-radius: 16px;
}

/* <!-- =-=-=-=-=-=-=-=-=-=-=-=-My Inspiration End Here =-=-=-=-=-=-=-=-=-=-=-=- --> */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=My Current Target Start Here=-=-=-=-=-=-=-=-=-=-=-=-=- */
.target-section {
  width:80%;
  margin: 0 auto;
  margin-top: 150px;
}
.target-section-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.target-section-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}
.card-section {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.card-section-container-1 {
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.card-section-container-2 {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  width: 364px;
  height: 300px;
}
.card-section-container-3 {
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.card-item {
  margin: 40px;
  border-radius: 16px;
  color: rgb(13, 19, 33);
}
.card-item img {
  margin-bottom: 8px;
}
.card-item h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}
.card-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.card-item a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  color: rgb(13, 19, 33);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=My Current  Target Start Here=-=-=-=-=-=-=-=-=-=-=-=-=- */
.support-section-container {
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  background-image: url("../assets/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  margin-top: 50px;
  border-radius: 16px;
}
.support-section-container-content {
  padding: 64px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-section-container-content h1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.support-section-container-content p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-top: 16px;
  margin-bottom: 24px;
}
.form {
}

.form .text {
  margin-top: 24px;
  width: 548px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  /* text-align: center; */
  padding: 19px 20px 19px 20px;
}
.form .submit {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 17px 20px 17px 20px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=My Current Target End Here=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* =-=-=-=-=-=-=-=-=-=-=-=--=-Footer_section Start Here=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=- */
#footer-section {
  width: 100%;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  margin-top: 80px;
}
.footer-section-container {
  padding: 32px 150px 32px 150px;
  margin: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text h3 {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.social {
  display: flex;
  gap: 24px;
}
/* =-=-=-=-=-=-=-=-=-=-=-=--=-Footer_section End Here=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=- */
